@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --azul: #008c8c;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

.invisivel {
    display: block !important;
}

.caixa {
    width: 200px;
    min-height: 200px;
    position: fixed;
    bottom: 50px;
    padding: 1rem;
    margin-bottom: 5rem;
    right: 50px;
    display: none;
    background-color: var(--azul);
    color: white;
    border-radius: 15px;
}

.caixa p {
    text-align: center;
    margin-top: 1rem;
}

.caixa h1 {
    font-size: 1.5rem;
}

.caixa button {
    margin-top: 2rem;
    padding: .5rem 2rem;
    background-color: white;
    color: var(--azul);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.botaoajuda {
    width: 100%;
    display: flex;
    justify-content: center;
}

.caixa button:hover{
    background-color:rgb(0, 0, 0);
    padding: 1rem 2rem;
    color:rgb(255, 255, 255);
    transition: 1s;
}

.chat {
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, .5);
    overflow: visible;
    cursor: pointer;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    position: sticky;
    top: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

nav:hover {
    background-color:rgb(239, 244, 245);
}

.direita {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.direita a {
    text-decoration: none;
}

.cadastro {
    background-color: var(--azul);
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.cadastro:hover {
    background-color: rgb(97, 169, 200);
}

.fora {
    width: 100%;
    display: flex;
    justify-content: center;
}

main img {
    width: 350px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 28px 62px 0px rgba(0,0,0,0.1);
}

.meio h1 {
    font-size: 4rem;
    padding-top: 3rem;
}

.meio p {
    font-size: 1.1rem;
    text-align: center;
}

.meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-bottom: 3rem;
}

.meio button:hover {
    background-color: rgb(97, 169, 200);
}

.meio button {
    background-color: var(--azul);
    font-size: 18px;
    border-radius: 10px;
    padding: 1rem 10rem;
    border: none;
    margin: 2rem 0;
    cursor: pointer;
    color: white;
}

section {
    text-align: center;
}

.ajudalo {
    padding: 5rem 0;
}

.ajudalo input {
    width: 70%;
    padding: .5rem;
    border-radius: 10px;
    border: .5px solid black;
}

.ajudalo input:hover {
    background-color: rgb(249, 249, 251);
}

.funcion {
    background-color: rgb(249, 249, 251);
}

.funcionalidades {
    font-size: 30px;
}

ul {
    padding: 20px;
    text-align: left;
    margin-left: 100px;
    align-items: center;
}

.imgfuncion {
    width: 500px;
    height: 400;
    margin-left: 800px;
}

.card {
    width: 200px;
    border-radius: 5px;
    height: 500px;
}

.card:nth-child(1) {
    background-color: rgb(249, 249, 249);
}
.card:nth-child(2) {
    background-color: rgb(249, 249, 249);
}
.card:nth-child(3) {
    background-color: rgb(249, 249, 249);
}
.card:nth-child(4) {
    background-color: rgb(249, 249, 249);
}

.card-cima {
    border: 1px solid ++rgb(0, 0, 0);
}

.card button {
    margin: 1rem 0;
    background-color: var(--azul);
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: white;
}

.card-baixo {
    margin-top: 2rem;
}

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.planos h1  {
    padding: 4rem 0;
}

.planos {
    padding-bottom: 4rem;
}

.planos h1 {
    padding: 4rem 0;
}

footer {
    background-color: var(--azul);
    padding: 3rem ;
    color: white;
    text-align: center;  
    width: 100%;
}

footer a {
    color: white;
}

.palavracolorida {
    color: var(--azul);
}

.cifrao {
    font-size: 40px;
    color: #DAA520;
}

.adquira {
    cursor: pointer;
}

.adquira:hover {
    background-color: rgb(97, 169, 200);
}

.color-changing {
    animation: changeColor 5s infinite;
}

@keyframes changeColor {
    0% {color: rgb(255, 0, 0);}
    20% {color: rgb(255, 162, 0);}
    40% {color: #86da20;}
    60% {color: #20da96;}
    80% {color: #3920da;}
    100% {color: #da20b8;}
}