@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --azul: #008c8c;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

.chat {
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, .5);
    overflow: visible;
    cursor: pointer;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    position: sticky;
    top: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

nav:hover {
    background-color:rgb(239, 244, 245);
}

.direita {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.direita a {
    text-decoration: none;
}

.cadastro {
    background-color: var(--azul);
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.cadastro:hover {
    background-color: rgb(97, 169, 200);
}

.fora {
    width: 100%;
    display: flex;
    justify-content: center;
}

main img {
    width: 350px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 28px 62px 0px rgba(0,0,0,0.1);
}
.meio h1 {
    font-size: 4rem;
    padding-top: 3rem;
}
.meio p {
    font-size: 1.1rem;
    text-align: center;
}
.meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-bottom: 3rem;
}

.meio button:hover {
    background-color: rgb(97, 169, 200);
}

.meio button {
    background-color: var(--azul);
    font-size: 18px;
    border-radius: 10px;
    padding: 1rem 10rem;
    border: none;
    margin: 2rem 0;
    cursor: pointer;
    color: white;
}

section {
    text-align: center;
}

.ajudalo {
    padding: 5rem 0;
}

.ajudalo input {
    width: 70%;
    padding: .5rem;
    border-radius: 10px;
    border: .5px solid black;
}

.ajudalo input:hover {
    background-color: rgb(249, 249, 251);
}

.varios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5rem 0;
    background-color: rgb(249, 249, 249);
}

.varios figure img {
    width: 170px;
}

.cards .card .card-cima img {
    width: 100px;
}

.card {
    width: 200px;
    padding: 1rem;
    border-radius: 5px;
    height: 500px;
}
.card:nth-child(1) {
    background-color: rgb(249, 249, 249);
}
.card:nth-child(2) {
    background-color: rgb(249, 249, 249);
}
.card:nth-child(3) {
    background-color: rgb(249, 249, 249);
}
.card:nth-child(4) {
    background-color: rgb(249, 249, 249);
}

.card-cima {
    border: 1px solid ++rgb(0, 0, 0);

}

.card button {
    margin: 1rem 0;
    padding: .5rem 2rem;
    background-color: var(--azul);
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: white;
}

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.planos h1  {
    padding: 4rem 0;
}

.planos {
    padding-bottom: 4rem;
}

.planos h1 {
    padding: 4rem 0;
}

footer {
    background-color: var(--azul);
    padding: 3rem ;
    color: white;
    text-align: center;  
    width: 100%;
}

footer a {
    color: white;
}

.palavracolorida {
    color: rgb(255, 0, 0);
}

.cifrao {
    font-size: 40px;
    color: #DAA520;
}

.adquira {
    cursor: pointer;
}

.adquira:hover {
    background-color: rgb(97, 169, 200);
}